/* Header */
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

 

*{ /*---------- REGRAS PARA TODO O HTML-------------*/
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

 

/*-----------regras background IMG-------------*/

body{
    background-image: url(../../img/background.png), url(../../img/backgroundLeft.png);
    background-repeat: no-repeat;
    background-position: left, right;
    background-position-y: 20%, 70% ;
    background-size: 18%;
}

 
/*-----------regras header-------------*/

#topo{
    background: linear-gradient(270deg, #F4BDBB 0%, #D7B5A3 99.99%, #D6B5A2 100%);
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

 

header{
    background: linear-gradient(270deg, #F4BDBB 0%, #D7B5A3 99.99%, #D6B5A2 100%);
    width: 100%;
    position: fixed;
    top: 0;
}

 

#logo{
    display: flex;
    align-items: center;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
    margin-left: 30px;
}

 

nav a{
    text-decoration: none;
    color: #5D3028;
    margin-left: auto;
    font-size: 18px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul li{
    display: inline-block;
    justify-content: center;
    list-style: none;
    margin-right: 30px;
}

.nav-list a:link, .nav-list a:visited{
    width: 100%;
    text-decoration: none;
    color: #57382D;
}

.nav-list a:hover{
    font-weight: bold;
    color: #fff;
}

/*------Regras para o NAV responsivo--------*/

.nav-responsivo{
    text-decoration: none;
    display: none;
}

.responsivo-icon{
    display: none;
    color: #57382D;
}

.nav-responsivo a:hover{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

 

/*------regras para banner---------*/

#banner{
    background: linear-gradient(180deg, #F6C8C7 0%, #FBE3E3 14.58%, #FADCDC 59.34%, rgba(255, 255, 255, 0.24) 96.13%, rgba(217, 217, 217, 0.00) 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: auto 0;
}


#banner h1{
    text-align: center;
    margin: 0 auto;
}


#banner h1 span{
    color: purple;
}

#foto-banner img{
    height: 330px;
    margin-right: 10%;
    margin-top: 10px;
}

 

#texto-banner {
    text-align: center;
    margin: 10%;
    color: #57382D;
}

/*regras para o body*/

body{
    font-family: 'roboto', sans-serif;
    margin: auto;
    text-decoration: none;
}

body p{
    font-size: 20px;
}

body h1{
    font-size: 44px;
    color: #57382D;
    max-width: 80%;

}

#frase-destaque-home{
    font-size: 30px !important;
    color: #57382D !important;
    margin: auto 0 !important;
    text-align: center !important;
    line-height: 350% !important;
    font-family: 'roboto', bold ;
}


/*REGRAS PARA O FOOTER*/

footer{

    background-color: #FCEEEE;

    width: 100%;

    font-size: 14px;

    position: relative;

    bottom: 0;

    left: 0;

    margin: 0 auto;

}

 

#redes-footer img{

    width: 10%;

}

 

#container-footer{

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    justify-items: center;

   

}

 

#logo-footer{

    display: block;

    margin: 0 auto;

    max-width:150px;

    max-height:100px;

}

 

.assinatura{

    margin: 0 auto;

    text-align: center;

    line-height: 350%;

}

 

.coluna-3 .coluna-2 .coluna-1{

    width: 300px;

}

 

.coluna-2{

    margin: 0% 20% 0% 20%;

}

 

#p-funcionamento{

    line-height: 350%;

}

 

#p-siga{

    line-height: 350%;

}

 

#p-endereço-footer{

    line-height: 350%;

}

 

#p-contato-footer{

    line-height: 350%;

}

 

.coluna-3 a:hover{

 

    color: #fff;

    font-weight: bold;

}

 

.coluna-3 a{

    text-decoration: none;

    color: #57382D;

    line-height: 300%;

}

 

/*resposansavel pela disposição dos elementos no responsivo*/

 

@media screen and (max-width: 780px ) {
    #container-footer{
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

 

    #card-minhaHistoria{
        grid-template-columns: repeat(1, 1fr);
    }

 

   #card-localizacao{
        grid-template-columns: repeat(1, 1fr);}
}

 

@media screen and (max-width: 1030px ) {
#cards{
    grid-template-columns: repeat(2, 1fr );
     place-content: center;
}}

@media screen and (max-width: 690px ) {
    .nav-list ul li{
        display: none;
    }

 

    .responsivo-icon{
        display: block;
    }

 

    .responsivo-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

 

    .nav-responsivo a{
        text-decoration: none;
        color: #57382D;
    }

 

    .nav-responsivo ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        text-align: center;
        padding-bottom: 1rem;
    }

 

    .nav-responsivo .nav{
        display: block;
        padding-top: 1.2rem;
    }

 

    .open{
        display: block;
    }

    #container-footer{
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

 

 

    #cards{
        grid-template-columns: repeat(1, 1fr );
         place-content: center;
    }

 

    #cards p:hover{
        background-color:#5D3028;
    }

 

    #banner{
        grid-template-columns: repeat(1, 1fr );
        text-align: center;
    }

    #card-minhaHistoria img{
        max-width: 70%;
    }

 

    #card-minhaHistoria p, h2{
        text-align: center;
    }

 

    #card-minhaHistoria{
         grid-template-columns: repeat(1, 1fr);
        }
 
    #card-localizacao{
         grid-template-columns: repeat(1, 1fr);
        }
}




/* PARTE DA BIANCA */

#nome-contato1{
   padding: 10px; 
   width: 200px;
}

#email-contato1{
    padding: 10px;
    width: 200px;
}

#mensagem-contato1{
    padding: 10px;
    height: 70px;
    width: 200px;
}

#botao-contato1{
    /*ta dando conflito no botao ao colocar o widht, height*/
    width: 10;
}

#article1-contato1{
   width: 80%;
}
