/* Contato responsivo*/

#nome-contato {
    background: #E6B5BA;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

#email-contato {
    background: #E6B5BA;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

#perguntas-contato {
    background: #E6B5BA;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    padding: 18px 24px;
}

h1{
    color: #5D3028;
}

p{
    color: #5D3028;
}

#FonteSizeContato{
    font-size: 40px;
    text-align: center;
}

#tituloContato{
    font-size: 40px;
    text-align: center;
}

#botao-contato {
    background-color: #5D3028;
    color: white;
    width: 104px;
    border-radius: 60px;
    padding: 5px;
}

#paragrafo1-contato {
    font-size: 20px;
}

#imagem-cliente-contato {
    width: 300px;
    position: absolute;
    left: 20px;
    bottom: 490px;
}

.formContato {
    padding: 5px;
}

#quadrado-contato {
    height: 400px;
    position: relative;
    left: 161px;
}


#redesSociais-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redesInfoContato{
    text-align: center;
    align-items: center;
}




/* Contato Web */


#nome-web-contato {
    background: #E6B5BA;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

#email-web-contato {
    background: #E6B5BA;
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

#perguntas-web-contato {
    background: #E6B5BA;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    padding: 18px 24px;
}

h1{
    color: #5D3028;
    text-align: center;
}

#FonteSizeContato-web{
    font-size: 40px;
    text-align: center;
}

#tituloContato{
    font-size: 40px;
    text-align: center;
}

#botao-web-contato {
    background-color: #5D3028;
    color: white;
    width: 104px;
    border-radius: 60px;
    padding: 5px;
}

#paragrafo1-contato {
    font-size: 20px;
}

#img-cliente-web-contato {
    width: 300px;
    position: absolute;
    right: 40px;
    bottom: 490px;
}

.formContato {
    padding: 5px;
}

#quadrado-web-contato {
    height: 400px;
    position: absolute;
    right:40px; 
}

#redesSociais-web-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.redesInfoContato-web{
    text-align: center;
    align-items: center;
}

#caixa-web-contato{
    justify-content: flex-start;
}